body{
    background-image: url('../Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 16px);
    font-family: cursive;
    margin: 0;
}
.mid h4{
    opacity: 25%;
    font-size: 1.5vw;
    margin: 0 0 0.3vw 0;
}
.mid h1{
    margin: 0;
}
.mid{
    font-size: 2vw;
    text-align: center;
    border: solid 1px black;
    background-color: white;
    border-radius: 20px;
    padding: 0px 1vw 0vw 1vw;
    font-family: cursive;
    vertical-align: middle;
    margin: 8vw 35vw 8vw 35vw ;
}
input{
    border-radius: 10px;
    font-size: 1.3vw;
    padding: 0.4vw;
    margin: 0 0 0.7vw 0;
    font-family: cursive;
}

.button:hover{
    background-image:url(../Images/Background.png);
    background-size: cover;

}
@media only screen and (max-width: 940px) {
    .mid{
        border-radius: 20px;
        padding: 0px 1.8vw 1.8vw 1.8vw;
        margin-top: 13vw;
    }
    input{
        font-size: 2vw;
        padding: 0.7vw;
        margin: 0 0 1vw 0;
    }
    Button{
        font-size: 3vw;
        padding: 0.6vw 2vw 1vw 2vw;
    }
    button:hover{
        padding: 0.7vw 2.1vw 1.1vw 2.1vw;
    }
  }
.signUp{
    display: block;
    font-size: 0.8vw;
    margin: 0;
    margin-bottom: 0.9vw;
}
footer{
    background: linear-gradient(rgb(196, 168, 168,0),rgb(255, 60, 0));
    height: 100px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}
header{
    background: linear-gradient(rgb(255, 196, 0),rgb(196, 168, 168,0));
    padding: 30px;
    font-size: 2vw;
}
.menu{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px rgb(100, 60, 60,0);

}
.menu a:hover{
    background-color: rgb(255, 166, 0);
    border: solid 3px black;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
}   
.bordureQuizz{
    border: solid 5px black;
    height: 100px;
    margin: 100px;
    border-radius: 20px;
    background-color: rgb(255, 153, 0);
    
    
}





    
